body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.slider-container {
    width: 75vw;
    height: 75vh;
    overflow: hidden;
}

.owl-carousel .item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

.owl-nav button.owl-prev {
    left: 10px;
}

.owl-nav button.owl-next {
    right: 10px;
}

.owl-nav button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
